.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

canvas {
  width: 80vw;
  height: 60vh;
  margin-top: 20px;
  border: 2px solid white;
  border-radius: 10px;
}
